@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html body{
    overflow-x: hidden; 
    max-width:100% 
}
*{
    margin:0;
    padding:0;
    font-family: 'Poppins';
    font-style: normal;
}

.im{
    margin-left:-20px;
    position:relative;
    z-index:1;
    width: 135px;
   
}
.im1{
    position:absolute;
    z-index:2;
    margin-left:-80px;
   margin-top:10px;
}
.head{
    margin-top:20px;
}
.head p{
    font-weight: 200;
    font-size: 28px;
    line-height: 32px;
   text-align:center;
    color: #222222;
}

font{
    font-weight:bold;
}
.head #para{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #222222;
    margin-top:-20px;
}
.head-content{
    width:330px;
    margin:auto;
    margin-top:10px;
}
.head-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #454545;
}
.optimum{
    background:url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/image+22+(1).png') ;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:-29px;
    margin-top:-40px;
    margin-left:-10px;
   
}
.opt{
    padding-top:150px;
}

.optimum p{
    font-weight: 400;
    font-size: 24px;
    line-height: 10px;
    text-align: right;
    color: #111111;
    
    
}
.optimum #opt-para{
    font-weight: 700;
font-size: 36px;
line-height: 40px;
text-transform: uppercase;
color: #18C3F9;

}
.optimum #opt-para2{
    font-weight: 400;
font-size: 14px;
line-height:20px;
color: #454545;
margin-top:-20px;
}
.ul ul li{
    font-weight: 300;
font-size: 13px;
line-height: 20px;
letter-spacing: -0.02em;
color: #454545;

}
.ul ul{
    margin-left:110px;
   
}
.head-content ol{
    margin-left:50px;
   
}
.head-content ol li dt{
    font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #313232;
font-style: italic;
}
.head-content ol li dd{
    font-weight: 700;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: right;
text-transform: uppercase;
color: #18C3F9;

}
#head-foot{
    font-weight: 500;
font-size: 14px;
line-height: 20px;
width: 340px;
    margin: auto;
text-align: justify;
letter-spacing: -0.025em;
color: #111111;

}
.recommend p{
    font-weight: 275;
font-size: 20px;
line-height: 20px;
align-items: center;
text-align: center;
color: #222222;

}
.recommend-image{
    margin-top:20px;
    background: url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/image+23+(1).png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 218px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}
.recommend-image p{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #111111;
    width:160px;
    text-align: left;
    padding-top:100px;
margin-left:20px;
    
}
.recommend-image2{
    margin-top:20px;
    background: url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/image+24.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 218px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

.recommend-image2 p{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #111111;
    width:160px;
    text-align: right;
    padding-top:60px;
    margin-left:160px;
    
}

.gen{
    width: 250px;
    height: 48px;
    background: #AEAEAE;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin:auto;
margin-top:-10px;
}
.gen p{
   
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-align: center;
color: #111111;
padding-top:5px;
}
.workout-duration{
    margin-top:30px;
    height: 137px;
background: #3479BC;
border-radius: 20px;
width:108%;
margin-left:-15px;
position:relative;
}
.workout-duration p{
    font-weight: 400;
font-size: 20px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
padding-top:40px;
}
.duration{
    background: rgba(238, 234, 234, 0.77);
border: 1px solid #CBC8C8;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(12px);
border-radius: 20px;
margin:auto;
margin-top:-30px;
display:flex;
width:300px;
}
.min{
    width:50%;
    margin-top:30px;
}
.min p{
    font-weight: 400;
font-size: 16px;
line-height: 11px;
text-align: center;
color: #000000;


}
#minu{
    padding-top:10px;
}
.value{
    width:40px;
    height:40px;
    background: #FFFFFF;
    border: 1px solid #667697;
    box-sizing: border-box;
    border-radius: 5px;
    margin:auto;
    
}
.value p{
    padding-top:13px;
    font-weight: 600;
}
ul{
    width:95%;
    padding-top:30px;
    margin:auto;
}
ul li {
    margin-left:30px;
    margin-right:10px;
    font-weight: 400;
    font-size: 16px;
    
    letter-spacing: -0.02em;
    color: #454545;

}
.physical p{
        font-weight: 275;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #222222;
    margin-top:30px;
}
.physical #physical{
    font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #222222;
width:80%;
margin:auto;
}
.regular{
    background:url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/image+23+(2).png');
    background-size:cover;
    background-repeat: no-repeat;
    height:250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    margin-top:10px;

}
.dl{
    height:250px;
}
.dl .dl1{
    padding-top:150px;
}
.dl dl{
    color:white;
    width:50%;
    height:40px;
    margin-left:190px;
    
}
.dl dl dt{
    font-weight: 700;
line-height:0;
letter-spacing: -0.02em;
color: #FFFFFF;

transform: matrix(1, 0, 0, 1, 0, 0);
}
.dl dl dd{
    padding-left:65px;
    padding-top:-10px;
}
.physical #physicals{
    font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #222222;
width:95%;
margin:auto;
margin-top:10px;
}
.ul{
    margin-top:5px;
    padding-top:0;
    line-height:24px;
    width:280px;
    
}
.ul li{
    padding-top:4px;
    margin-left:5px;
    margin-right:5px;
    
}
.solid-food {
    display: flex;
    height: 150px;
    margin: 10px auto;
}
.solid-food img{
    position:absolute;
}
.solid-food div{
    margin-top:auto;
}
.solid-food p{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
    padding-left: 15px;
    color: #111111;
    border: 1px solid #31AE9A;
    box-sizing: border-box;
    border-radius: 5px;
 
    margin-top: auto;
    height: auto;
    margin-left: 185px;
}
.intensity{
    margin-top:80px;
}
.intensity-cont{
    background: rgba(238, 234, 234, 0.77);
border: 1px solid #CBC8C8;
box-sizing: border-box;
width: 340px;
margin:auto;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(12px);

border-radius: 20px;
}
.intensity-cont p{
    padding-left:20px;
    margin-right:20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: -0.02em;
    color: #000000;
}
.intensity-image{
    margin:auto;
    margin-top:40px ;
    width:330px;

}
.intensity-image img{
    width:330px;
}
.in-pa{
    padding-top:20px;
    font-weight: 400;
    width:340px;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: -0.02em;

color: #000000;

}
.food-clock{
    margin-top:80px;
    margin-left: -5px;
    width: 110%;
}
.food-clock-head p{
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.food-clock-image{
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.71));
}
.clock-am{
    background-image:url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/clock+2+(2).png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: -24px;
    height: 390px;
    left: 49px;
    top: 6316px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.71));
}
.clock-pm{
    width:40%;
    float:left;
    margin:20px 10px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.19em;
    color: #FF5C00;
    text-shadow: 6px 1px 7px rgba(0, 0, 0, 0.37);
}
.am p{
    padding-left:30px;
}
.pm p{
    text-align:right;
}
.am-2 p {
    color: #62DBFB;
    text-shadow: 6px 1px 7px rgb(0 0 0 / 37%);
}
.clock-meal {
    width: 40%;
    float: left;
    margin: 20px 17px;
    display:flex;
}
.clock-meal p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.meal1  {
    text-align: right;
}
.workout-cont{
    width:60%;

}
.clock-meals{
    display:flex;
}
.clock-meal button{
    background-color:#18C3F9;
}
.workout-cont p{
    font-weight: 400;
    font-size: 16px;
    
    line-height: 16px;
    text-align: justify;
    color: #000000;
    
}
.add-meal {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.add-meal-head {
    height: 80px;
    border: 1px solid #18C3F9;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.add-meal-head p {
    font-weight: 300;
    font-size: 24px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
}
.add-content{
    background-color: #18C3F9;
    
    margin-top:230px;
}
.square{
    width: 24px;
    height: 24px;
    background: #7ED918;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.color{
    background: #FDE784;
}
.button-add {
    width: 70%;
    margin: auto;
}
.button-add .b1 {
    background: #667697;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px 0px 0px 5px;
}
.button-add button {
    margin-top: 30px;
}
.button-add button {
    width: 50%;
    height: 60px;
    float: left;
}
button {
    background: #31AE9A;
    border: 1px solid #31AE9A;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 42px;
    color: white;
    font-weight: 300;
    font-size: 16px;
}
.button-add .b2 {
    background: #8797B8;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px 5px 5px 0px;
}
.scroll3 {
    width: 100%;
    margin: auto;
    margin-top: -240px;
}
.scroll2 {
    width: 80%;
    padding-top:30px;
    margin: auto;
}
.hour {
    width: 80%;
}
.progress {
    height: 3px;
    width: 100%;
}
.progress-bar {
    background-color: #7ED918;
}
.times {
    background: #FFFFFF;
    border: 1px solid #667697;
    box-sizing: border-box;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: 215px;
    margin-top: -23px;
    text-align: center;
    padding-top: 7px;
}
.scroll2 {
    width: 80%;
    margin: auto;
}
.add-button {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.add-button button {
    width: 40%;
    background: #7ED918;
    margin-left: 50px;
    color: black;
}
button:focus {
    outline: none;
    border: 2px solid #1C8DF7;
}
.food-clock-footer{
    background: url('https://reportpictures.s3.ap-south-1.amazonaws.com/fitness_report/image/Rectangle+4705.png');
backdrop-filter: blur(24px);
border-radius: 20px;
margin:auto;
margin-top:30px;
width:90%;
height: 316px;
}
.food-clock-footer p{
    padding-top:50px;
    font-weight: 800;
font-size: 20px;
line-height: 32px;
text-align: center;
color: #111111;

}
.food-clock-footer .clock-para{
    font-weight:100;
    margin:auto;
    width:75%;
    margin-top:-60px;
}
.food-clock-footer button{
    width:80%;
    margin-left:30px;
    margin-right:30px;
    margin-top:10px;
}
#phy{
    font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #222222;
margin-top:-10px;
}
.flex{
    display:flex;
}

.flex img{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}
.flex-para p{
    font-size: 18px;
line-height: 28px;
text-align: center;
letter-spacing: -0.02em;
color: #111111;

}
.flex-para{
   width:84%;
   margin:auto;
   
}
.expert{
    margin-top:50px;
}
.expert img{
    width:100%;
}
.expert p{
font-size: 28px;
line-height: 32px;
text-align: center;
}
#expert-para{
 
   padding-top:15px;
    margin:auto;
    font-weight: 400;
    width: 330px;
font-size: 16px;
line-height: 20px;
text-align: justify;
color: #222222;

}
.image-flex{
    display:flex;
}
.image-flex img{
    padding-top:25px;
}
.flex-ul ul  li{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #222222;
margin-left:15px;
margin-right:0;

}
#footer-para{
    padding-top: 30px;
    margin: auto;
    width: 350px;
    padding-left: 20px;
    padding-right: 20px;
}
.flex2{
display:flex;
margin-top:30px;
  
}
.flexs{
   
    width:168px;
    height:168px;
    margin-left:10px;
    margin-right:10px;
    background: #18C3F9;
border-radius: 10px;
}
.flexs p{
    font-weight: 300;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
padding-left:20px;
padding-right:10px;
padding-top:20px;

margin:auto;
}
#flexs-para{
    width:90%;
    margin:auto;
}
#btns{
    margin:auto;
    margin-top:30px;
height: 75px;

background: #3479BC;
border-radius: 10px;
}
#img{
    margin-top:10px;
    margin-left:-15px;
}