<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>

<body>
    <div id=":q5" class="a3s aiL ">
        <div dir="ltr">
            <div class="adM"><br><br></div>
            <div class="gmail_quote">
                <div class="adM">
                    <div class="adm">
                        <div id="q_13" class="ajR h4">
                            <div class="ajT"></div>
                        </div>
                    </div>

                </div>
                <div bgcolor="#ffffff">
                    <div class="adM">
                    </div>
                    <table align="center" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="left" valign="top" width="100%"
                                    style="background:repeat-x url(https://ci4.googleusercontent.com/proxy/m3BzSGxHiAAxB0qhmHfWmACN_0Ddxkt7BKMG9aXrKDoD-iWuaOlgaGBz4Zrm2KmpYVTgupZB0E9XAvqDxODDxr1NDCc7xrTzqIWZiVyvySdWVh376O9FEW7AU44=s0-d-e1-ft#http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg) #17a2b8">
                                    <center>
                                        <!-- <img src="https://i.imgur.com/Kd2TxIK.png" class="CToWUd"> -->
                                        <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ffffff"
                                            background="https://ci4.googleusercontent.com/proxy/m3BzSGxHiAAxB0qhmHfWmACN_0Ddxkt7BKMG9aXrKDoD-iWuaOlgaGBz4Zrm2KmpYVTgupZB0E9XAvqDxODDxr1NDCc7xrTzqIWZiVyvySdWVh376O9FEW7AU44=s0-d-e1-ft#http://s3.amazonaws.com/swu-filepicker/4E687TRe69Ld95IDWyEg_bg_top_02.jpg"
                                            style="background-color:transparent">
                                            <tbody>
                                                <tr>
                                                    <td width="100%" height="80" valign="top"
                                                        style="text-align:center;vertical-align:middle">

                                                        <center>
                                                            <table cellpadding="0" cellspacing="0" width="600">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align:middle">
                                                                            <a><img width="120px" height="70px"
                                                                                    src="https://i.imgur.com/Kd2TxIK.png"
                                                                                    class="CToWUd"></a>
                                                                        </td>
                                                                        <td style="color:#4d4d4d">
                                                                            <a><img width="44" height="47"
                                                                                    src="https://ci3.googleusercontent.com/proxy/HtCxWM-S7V8OOmdMlx8HjNOimPQIdz7oPb-tRfkHt32VjeHFGZs0zvPaX-lJ9bLhL39xPiDZ5pMhSdUJUGlYtAMJweYPj2LMwB9Ke1vEMDE3Dkv-VhhooE1fseg=s0-d-e1-ft#http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif"
                                                                                    class="CToWUd"></a>
                                                                            <a><img width="38" height="47"
                                                                                    src="https://ci4.googleusercontent.com/proxy/uvPkeivEOTAj12iOjuQUp8XSlsikpiXyAiDrHKi_39ftSZGkWcnXRPR-l_na8JfOHTuqc_aK-sNe6nWCLVMf5N958LhRp_EF5TxvTVZjoM_3nCSImCkLFZ_TFfg=s0-d-e1-ft#http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif"
                                                                                    class="CToWUd"></a>
                                                                            <a><img width="40" height="47"
                                                                                    src="https://ci6.googleusercontent.com/proxy/DZx0gz8e9l72cPeW_f4ZfJW3PdOZ-0cJRmHBMVMofWFqVvEaWf51JinkdOFzraFOdPU2WZ3bBFPxAqXJC98mDr4B77w4xpvlMnVm_E62ZvXqi3GhYqrCdaYqfzE=s0-d-e1-ft#http://s3.amazonaws.com/swu-filepicker/hR33ye5FQXuDDarXCGIW_social_10.gif"
                                                                                    class="CToWUd"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </center>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" width="100%" style="background-color:#ffffff">
                                    <center>
                                        <table cellspacing="0" cellpadding="0" width="600">
                                            <tbody>
                                                <tr>
                                                    <td>Hi {{username}} ,</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <br>
                                                        Your account Details.
                                                    </td>
                                                </tr>

                                                <tr style="background-color:#ffffff">
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table cellspacing="0"
                                                                                            cellpadding="0" width="100%"
                                                                                            style="border-collapse:separate!important">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <br>
                                                                                                        <span>Email</span><br>
                                                                                                        {{email}} <br>
                                                                                                        <br>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td>
                                                                        <table cellpadding="0" cellspacing="0"
                                                                            width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table cellspacing="0"
                                                                                            cellpadding="0" width="100%"
                                                                                            style="border-collapse:separate!important">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <br>
                                                                                                        <span>Password</span>
                                                                                                        <br>
                                                                                                        {{password}}
                                                                                                        <br>
                                                                                                        <br>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <span>Good luck! Hope it works.</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </center>
                                </td>
                            </tr>

                            <tr>
                                <td align="center" valign="top" width="100%"
                                    style="background-color:#ffffff;height:100px">
                                    <center>
                                        <table cellspacing="0" cellpadding="0" width="600">
                                            <tbody>
                                                <tr>




                                                    <td style="padding:25px 0 25px">
                                                        <a><img width="120px" height="70px"
                                                                src="https://i.imgur.com/Kd2TxIK.png"
                                                                class="CToWUd"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="yj6qo"></div>
                    <div class="adL">

                    </div>
                </div>
                <div class="adL">


                </div>
            </div>
        </div>
        <div class="adL">
        </div>
    </div>

</body>

</html>